* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
}

h1 {
  text-transform: capitalize;
  text-align: center;
  margin: 1em;
}
section {
  background-color: grey;
  margin: 1em;
  border: 1px solid #111;
}
div {
  border: 1px solid #111;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: right;
  text-align: center;
  font-weight: bold;
}
.chicken {
  background-color: magenta;
}
.beef {
  background-color: maroon;
  color: white;
}
.sushi {
  background-color: yellow;
}
p {
  clear: both;
  padding: 15px;
}

@media (min-width: 992px) {
  h1{
  margin-bottom:2em;  
  }
  .col-lg-4 {
    width: 31%;
    float: left;
    margin: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
   h1{
  margin-bottom:1.5em;  
  }
  .col-md-6 {
    width: 47%;
    float: left;
    margin: 10px;
  }
  .extend {
    width: 96%;
  }
}
